{% extends 'base.html' %}

{% block title %}Detail{% endblock %}
{% load static %}
{% block content %}

<div class="card home-card">
    <div class="card-header" style="font-size:30px">
        {{blog.title}}
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
        <p style="font-size:17px">{{blog.body}}</p>
        <footer class="blockquote-footer">{{blog.pub_date}} 
            <div class="delete">
                <p><a href="{% url 'delete' blog.id %}">delete</a></p>
            </div>
        </footer>
        
        </blockquote>
    </div>
    
</div>

{% endblock %}