{% extends 'base.html' %}

{% block title %}Document{% endblock %}
{% load static %}
{% block content %}

{% for blog in posts %}
    <div class="card home-card">
        <div class="card-header" style="font-size:30px">
            {{blog.title}}
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
            <p style="font-size:17px">{{blog.summary}}.....<a href="{% url 'detail' blog.id %}"><cite title="Source Title">more</cite></a></p>
            <footer class="blockquote-footer">{{blog.pub_date}} </footer>
            </blockquote>
        </div>
    </div>
    <br>
{%endfor%}

{% if posts.has_previous %}
<a href="?page=1">First</a>
<a href="?page={{posts.previous_page_number}}">previous</a>
{% endif %}
<span>{{posts.number}}</span>
<span>/</span>
<span>{{posts.paginator.num_pages}}</span>
{% if posts.has_next %}
<a href="?page={{posts.next_page_number}}">next</a>
<a href="?page={{posts.paginator.num_pages}}">Last</a>
{% endif %}

{% endblock %}