#wrap {
    width:95%;
    margin:0 auto;
}

.header {
    border:1px solid rgb(143, 143, 143);
    margin:10px 0px;
}

.small_create {
    display: none;
}

.side_menu {
    float:left;
    width:145px;
    margin-right:10px;
}

.left-card-text {
    font-size:13px;
    margin-bottom:20px;
}

.left_card {
    border-color: rgb(143, 143, 143);
}

.main_content {
    float:right;
    width:83%;
    border:1px solid rgb(143, 143, 143);
    padding:20px;
}

.home-card {
    border-color: rgb(143, 143, 143);
    margin:10px;
}

@media screen and (max-width: 992px) {
    .side_menu {
        display: none;
    }

    .main_content {
        float: none;
        align-self: center;
        width:100%;
    }

    .small_create {
        display: block;
    }
}