#wrap {
    width:95%;
    margin:0 auto;
}

.container {
    width:100%;
    margin-left:0px;
    margin-bottom:15px;
    border:1px solid rgb(143, 143, 143);
}

.side_menu {
    float: left;
    width:150px;
    align-self:center;
    margin-right:10px;
}

.left-card-text {
    font-size:13px;
    margin-bottom:20px;
}

.left_card {
    border-color: rgb(143, 143, 143);
}

.main_content {
    float: right;
    width:85%;
    border:1px solid rgb(143, 143, 143);
    padding:20px;
    align-self:center;
}

.home-card {
    border-color: rgb(143, 143, 143);
    margin:10px;
}